{% extends "layouts/base.njk" %}
{% block content %}
<div class="wrapper">
    <h1>Submit Your Text</h1>
    <div class="grid">
        <div class="grid-item">
            <form id="textForm">
                <label for="textInput">Enter your text:</label>
                <br>
                <textarea type="text" id="textInput" name="textInput" required></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="grid-item">
            <div class="response" id="response"></div>
        </div>
    </div>
    
    <div id="chat-log" class="chat-log"></div>
</div>
{% endblock %}